.bubble-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: var(--layer-level-4);
}

.bubble-container {
  position: absolute;
  top: 100px;
  left: 100px;
  background: var(--gray1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  padding: 4px 14px 0 14px;
  border-radius: 23px;
  z-index: var(--layer-level-5);
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  .tip {
    position: absolute;
    width: 100%;
    font-size: 15px;
    margin-top: -24px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

.disable-cover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 23px;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.effect-bubble {
  padding: 10px;
  border-radius: 16px;
  .inner-container {
    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    background: var(--gray3);
    .name-wrapper {
      width: 100%;
      height: 30px;
      border-top: 1px solid var(--gray11);
      color: var(--gray13);
      text-align: center;
      line-height: 30px;
    }
  }
}

.transparent {
  background: rgba(255, 255, 255, 0.5);
}

.left,
.disable-left {
  margin-left: 12px;
  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: calc(50% - 5px);
    left: -8px;
    bottom: auto;
    border-width: 6px 10px 6px 0;
    border-color: transparent #fff;
  }
}

.disable-left::after {
  margin-left: 0;
  border-color: transparent rgba(245, 245, 245, 0.8);
}

.bottom::after,
.disable-bottom::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: calc(50% - 5px);
  border-width: 6px 6px 0;
  /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}

.disable-bottom::after {
  border-color: rgba(245, 245, 245, 0.8) transparent;
}

// https://codepen.io/mchernin34/pen/ojXvLq
