.tip-container {
  --tip-height: 20px;
  --padding-top: 6px;
  position: absolute;
  top: 10px;
  font-size: 16px;
  color: var(--gray13);
  z-index: var(--layer-level-6);
  padding: var(--padding-top) calc(var(--padding-top) + var(--tip-height) / 2);
  line-height: var(--tip-height);
  border-radius: calc(var(--padding-top) + var(--tip-height) / 2);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  text-align: center;
}
